<form #loginForm='ngForm' (ngSubmit)='login(loginForm.value)'>
    <div class="login-area">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput #username='ngModel' ngModel type="text" required name="username" pattern="[a-zA-Z]+"
                maxlength="30" minlength="3">
            <small class='error-message' [class.error-hide]='username.untouched || username.valid'>Cannot be
                empty</small>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput #password='ngModel' type="password" required ngModel name="password"
                pattern='(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$'>
            <div *ngIf='password.errors && password.touched'>
                <small class='error-message' *ngIf='password.errors.required'>Cannot be empty</small>
                <small class='error-message' *ngIf='password.errors.pattern'>Should contain atleast 1 lowercase letter,
                    1 uppercase letter, 1 number and 1 special character</small>
            </div>
        </mat-form-field>

        <input class='button' [disabled]='loginForm.form.invalid' type="submit" value="Login">
    </div>
</form>